.activity {
    margin: 2rem $mobile-margin 0 $mobile-margin;
    display: grid;
    grid-template-areas: 
    "title"
    "a"
    "b"
    "e"
    "c"
    "d"
    "f";
    grid-row-gap: 1rem;
    &__article--1 {grid-area: a;}
    &__article--2 {grid-area: b;}        
    &__article--3 {grid-area: c;}        
    &__article--4 {grid-area: d;}        
    &__article--5 {grid-area: e;}  
    &__article--6 {grid-area: f;}
    h2 {
        grid-area: title;
        font-size: 1.85rem;
    }
    a {
        box-shadow: $shadow;
        border-radius: $radius-primary;
        img {
            object-fit: cover;
            width: 100%;
            height: 10rem;
            border-radius: $radius-primary $radius-primary 0 0;
        }
        h3 {
            font-size: 1.3rem;
            padding: 1rem;
        }
    }
}