main {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: 
        "popular"
        "lodging";
    h2 {
        font-size: 1.85rem;
    }
    a {
        background-color: #fff;
        padding: 0.5rem;
        border-radius: $radius-primary;
        box-shadow: $shadow;
    }
    img {
        object-fit: cover;
    }
    .price {
        font-weight: 700;
    }
    .star-off {
        color: $color-secondary;
    }
    @include desktop-breakpoint {
        grid-template: 1fr / 66% 32% ;
        grid-template-areas: 
            "lodging popular";
        grid-column-gap: 3rem;
        margin: 3rem $margin-desktop 0 $margin-desktop;
        h2 {
            font-size: 1.8rem;
        }
    }
}

