nav {
    margin-top: 2rem;
    display: grid;
    grid-template: auto auto / auto auto;
    grid-template-areas: 
        "logo signup"
        "nav nav";
    grid-row-gap: 1.8rem;
    border-bottom: 2px solid $color-secondary;
    font-size: 1.4rem;
    img {
        grid-area: logo;
        width: 45%;
        margin-left: $mobile-margin;
    }
    ul {
        grid-area: nav;
        display: flex;
        justify-content: space-around;
        padding-right: 1.5rem;
        li {
            font-size: 1.4rem;
        }
        }
    .signup {
        grid-area: signup;
        color: $color-primary;
        font-weight: 800;
        background: none;
        border: none;
        justify-self: right;
        margin-right: 1.2rem;
        margin-top: 0.8rem;
    }
}