@font-face {
    font-family: 'raleway';
    src: url('font/raleway-webfont.eot');
    src: url('font/raleway-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-webfont.woff2') format('woff2'),
         url('font/Raleway.ttf') format('truetype'),
         url('font/raleway-webfont.woff') format('woff'),
         url('font/raleway-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
